{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Stones</title>

  <!-- CSS  -->
  
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div class="navbar-fixed">
  <nav>
    <div class=" white nav-wrapper">
      <a href="/" class="brand-logo left ">JEWEL DIAMOND</a>
      <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="grey mdi-navigation-menu"></i></a>
      <div class="text">
      <ul id="nav-mobile" class="right hide-on-med-and-down ">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/RINGS">Rings</a></li>
        <li><a href="/BANGLES">Bangles</a></li>
        <li><a href="/EARRINGS">Earrings</a></li>
        <li><a href="/NECKLACES">Necklaces</a></li>
        <li><a href="/PENDANTS">Pendants</a></li>
        <!-- <li><a href="#">Nose Pins</a></li>
        <li><a href="#">Tanmaniya</a></li> -->
        <li><b><a href="/form">Contact Us</a></b></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/RINGS">Rings</a></li>
        <li><a href="/BANGLES">Bangles</a></li>
        <li><a href="/EARRINGS">Earrings</a></li>
        <li><a href="/NECKLACES">Necklaces</a></li>
        <li><a href="/PENDANTS">Pendants</a></li>
        <!-- <li><a href="#">Nose Pins</a></li>
        <li><a href="#">Tanmaniya</a></li> -->
        <li><b><a href="/form">Contact Us</a></b></li>
      </ul>
      </div>
    </div>
  </nav>
</div>

<!-- <div id="index-banner" class="parallax-container">
    <div class="parallax"><img src="{% static "earrings/4.jpg" %}" alt="Unsplashed background img 2"></div>
</div>
-->

       
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static "showcase.jpg" %}" alt="Unsplashed background img 2"> 
        <div class="black-text caption center-align">
          <h3>WELCOME!</h3>
          <h5 class="black-text text-lighten-3">To the world of jewels</h5>
        </div>
      </li>
      <li>
        <img src="{% static "wedding5.jpg" %}" alt="Unsplashed background img 2"> 
        <div class="caption left-align">
          <h3>UNDERLINE YOUR PERSONALITY</h3>
          <h5 class="light grey-text text-lighten-3"><u>SHOP NOW</u></h5>
        </div>
      </li>
      <li>
        <img src="{% static "rings/3.jpg" %}" alt="Unsplashed background img 2">
        <div class="caption right-align">
          <h3>DIAMONDS ARE THE BEST GIRLS FRIEND</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{% static "jewels.jpg" %}" alt="Unsplashed background img 2"> 
        <div class="caption center-align">
          <h3>USE JEWELRY'S MAGIC, BUY FINE JEWELRY</h3>
          <h5 class="light grey-text text-lighten-3">SHOP NOW</h5>
        </div>
      </li>
      <li>
        <img src="{% static "marriage.jpg" %}" alt="Unsplashed background img 2"> 
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="{% static "wedding3.jpg" %}" alt="Unsplashed background img 2"> 
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div> 

  <main>
    <div class="row">
      {% for img in value %}
        <div id="display" class="col l4 m6 s12">
            <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <a href="{{img.image_type}}"><img src="{{img.url}}" alt="{{img.image_type}}"></a>
                </div>
                <div class="center card-content display-card">
                  <a href="{{img.image_type}}">{{img.image_type}}</a> 
                </div>  
            </div>
        </div>
      {% endfor %} 
    </div>

    <div class="row" style="text-align: center;background: white; padding: 2%;font-family: Calibri;color: #607d8b">
      <div class="container_heading">
        <h3>--About Us--</h3>
      </div>
      <div style="font-size: large;">
        We, V K Dhingra Jewellers, situated at Chandni Chowk, Delhi, connects you to the world’s most luxurious jewellery ensuring a handpicked edit of the finest jewels. We believe that buying a piece of luxurious jewellery is experience so we ensure to provide best quality jewellery. We are a fine jewellery marketplace, where you can buy from a wide range of our jewellery collection. We are grateful to be trusted by number of happy customers.
      </div>
    </div>

    <div class="row" style="text-align: center;background: white; padding: 2%;font-family: Calibri;color: #607d8b">
      <div class="container_heading">
        <h3>--Contact Us--</h3>
      </div>
      <div style="font-size: large;">
        <div class="contact col s12 m6 l3">
          <div>
            <i class="medium material-icons">location_on</i>
          </div> 
          <div>
            Our Office Address
          </div> 
          <div>
            Shop Number-2254,Gali Anar,Kinari Bazar,<br> Chandni Chowk, Delhi 110006
          </div>  
        </div>
        <div class="contact col s12 m6 l3">
          <div>
            <i class="medium material-icons">email</i>
          </div> 
          <div>
            General Enquiries
          </div> 
          <div>
            
          </div>  
        </div>
        <div class="contact col s12 m6 l3">
          <div>
            <i class="medium material-icons">phone</i>
          </div> 
          <div>
            Call Us
          </div> 
          <div>
            +91-9811065422
          </div>
        </div>
        <div class="contact col s12 m6 l3">
          <div>
            <i class="medium material-icons">access_time</i>
          </div> 
          <div>
            Our Timings
          </div> 
          <div>
            Mon - Sat : 12:00 PM - 06:00 PM <br>
            Sun : Closed
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="section">
        <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <form method="POST" action="/form" >
                    {% csrf_token %}
                    <div class="blue-grey-text center row">
                      <h4>SEND US AN E-MAIL </h4>
                    </div>
                    <div class="col s12 m6">
                      <div class="input-field">
                        {{ form.name }}
                        <label for="{{ form.name.id_for_label }}">{{form.name.label}}</label>
                        {{ form.name.errors }}
                      </div>
                    </div>
                    <div class="col s12 m6">
                      <div class="input-field">
                        {{ form.email }}
                        <label for="{{ form.email.id_for_label }}">{{form.email.label}}</label>
                        {{ form.email.errors }}
                      </div>
                    </div>
                    <div class="col s12 m6">
                      <div class="input-field">
                        {{ form.number }}
                        <label for="{{ form.number.id_for_label }}">{{form.number.label}}</label>
                        {{ form.email.errors }}
                      </div>
                    </div>
                    <div class="col s12 m6">
                      <div class="input-field ">
                        {{ form.message }}
                        <label for="{{ form.message.id_for_label }}">{{form.message.label}}</label>
                      </div>
                    </div>
                    <div class="col s12" style="text-align: center;margin: 20px 0px">
                      <button class="btn waves-effect waves-light" type="submit" name="action" style="height: 50px;background: #607d8b">Send mail
                      <i class="mdi-content-send right"></i>
                    </button>
                    </div>
                    
                  </form>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </main>

    <footer class="white page-footer">
          <div class=" blue-grey lighten-2 footer-copyright">
            <div class="container">
              <p class="black-text">© 2015 JewelDiamond . All Copyrights Reserved</p>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col l8 s12">
                <p class="black-text text-lighten-4"><b>RINGS : </b> Engagement Rings | Gold Rings | Diamond Rings | Women's Rings | Men's Rings | Bridal Rings<br>
                <b>PENDANTS : </b>Diamond Pendants | Gold Pendants | Platinum Pendants | Casual Pendants | Fashion Pendants<br>
                <b>BANGLES :</b> Gold Bangles | Diamond Bangles | Gemstone Bangles<br>
                <b>EARRINGS : </b>Gold Earrings | Diamond Earrings | Platinum Earrings | Earrings For Girls | Jhumkas Earrings | Studs Earrings | Drop Earrings<br>
                <b>NECKLACES AND CHAINS : </b>Mangalsutra | Chains | Necklaces | Diamond Necklaces | Gold Necklaces | Gold Chains | Chains for Girls | Chains for Boys
                </p>
              </div>
              <div class="col l2 offset-l2 s12">
                <h5 class="black-text">CONTACT US</h5>
                <ul>
                  <li><a class="black-text text-lighten-3" href="#!">Vinay kumar Dhingra</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">contactus@jeweldiamond.com</a></li>
                </ul>
              </div>
              
            </div>
          </div>
  </footer>

  <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>

  </body>
</html>
