{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Stones</title>

  <!-- CSS  -->
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div class="navbar-fixed">
  <nav>
    <div class=" white nav-wrapper">
      <a href="/" class="brand-logo left ">JEWEL DIAMOND</a>
      <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="grey mdi-navigation-menu"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down ">
        <li><a href="/">Home</a></li>
        <li><a href="/RINGS">Rings</a></li>
        <li><a href="/BANGLES">Bangles</a></li>
        <li><a href="/EARRINGS">Earrings</a></li>
        <li><a href="NECKLACES">Necklaces</a></li>
        <li><a href="/PENDANTS">Pendants</a></li>
        <!-- <li><a href="/NOSEPINS">Nose Pins</a></li>
        <li><a href="/TANMANIYA">Tanmaniya</a></li> -->
        <li><b><a href="/form">Contact Us</a></b></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/RINGS">Rings</a></li>
        <li><a href="/BANGLES">Bangles</a></li>
        <li><a href="/EARRINGS">Earings</a></li>
        <li><a href="/NECKLACES">Necklaces</a></li>
        <li><a href="/PENDANTS">Pendants</a></li>
        <!-- <li><a href="/NOSEPINS">Nose Pins</a></li>
        <li><a href="/TANMANIYA">Tanmaniya</a></li> -->
        <li><b><a href="/form">Contact Us</a></b></li>
      </ul>
    </div>
  </nav>
</div>


      <main>
              <div class="row">
                {% for img in value %}
                  <div class="col l4 m6 s12">
                    <div class="card small"> 
                        <div class="card-image waves-effect waves-block waves-light">
                            <a class="modal-trigger" href="#modal{{img.id}}"><img src="{{img.url}}" alt="{{img.price}}"></a>
                        </div>
                        <div class="center card-content display-card">
                          <span style="color: white;margin-right: 10px;background: #607d8b;padding: 10px;">{{img.id}}</span>
                          <a href="">{{img.price}}</a>
                        </div>  
                    </div>
                    <div id="modal{{img.id}}" class="modal">
                    <div class="center modal-content">
                      <img src="{{img.url}}" alt="Unsplashed background img 2">
                      <h5>PRODUCT DETAILS</h5>
                      <p>{{img.price}}</p>
                      <table class="striped">
                        <thead>
                          <tr>
                            <td>Product code</td>
                            <td>{{img.id}}</td>    
                          </tr>
                        </thead>
                        <thead>
                          <tr>
                              <th data-field="name">Diamond Details</th>
                              <th data-field=""></th>      
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>Total Weight</td>
                            <td>{{img.diamond_weight}}</td>
                            
                          </tr>
                          <tr>
                            <td>Total no. of diamonds</td>
                            <td>....</td>
                            
                          </tr>
                        </tbody>
                        <thead>
                          <tr>
                              <th data-field="name">Metal Details</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr>
                            <td>Type</td>
                            <td>Gold</td>
                            
                          </tr>
                          <tr>
                            <td>Weight(approx)</td>
                            <td>{{img.gold_weight}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div class="modal-footer">
                      <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat">Done</a>
                    </div>
                  </div>
                  </div>
                {% endfor %} 
              </div>
      </main>

  <footer class="white page-footer">
          <div class=" blue-grey lighten-2 footer-copyright">
            <div class="container">
              <p class="black-text">© 2018 JewelDiamond . All Copyrights Reserved</p>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col l8 s12">
                <p class="black-text text-lighten-4"><b>RINGS : </b> Engagement Rings | Gold Rings | Diamond Rings | Women's Rings | Men's Rings | Bridal Rings<br>
                <b>PENDANTS : </b>Diamond Pendants | Gold Pendants | Platinum Pendants | Casual Pendants | Fashion Pendants<br>
                <b>BANGLES :</b> Gold Bangles | Diamond Bangles | Gemstone Bangles<br>
                <b>EARRINGS : </b>Gold Earrings | Diamond Earrings | Platinum Earrings | Earrings For Girls | Jhumkas Earrings | Studs Earrings | Drop Earrings<br>
                <b>NECKLACES AND CHAINS : </b>Mangalsutra | Chains | Necklaces | Diamond Necklaces | Gold Necklaces | Gold Chains | Chains for Girls | Chains for Boys
                </p>
              </div>
              <div class="col l2 offset-l2 s12">
                <h5 class="black-text">CONTACT US</h5>
                <ul>
                  <li><a class="black-text text-lighten-3" href="#!">Vinay kumar Dhingra</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">+91-9811065422</a></li>
                </ul>
              </div>
              
            </div>
          </div>
  </footer>

  <script src="{% static "js/jquery-2.1.1.min.js" %}"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>

  </body>
</html>
